@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue-main-background);
}

.container {
  width: 80vw;
  background-color: var(--dark-desaturated-blue-card-background);
  margin: 120px auto;
  padding: 0;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--white-main-heading-stats);
}

span {
  color: var(--soft-violet-accent);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 25px;
  color: var(--slightly-transparent-white-stat-headings);
}

.box {
  padding: 50px 70px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-left: 0;
  margin-top: 30px;
}

li > p {
  text-transform: uppercase;
  line-height: 0;
  font-size: 0.9rem;
}

.img-header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(./images/image-header-desktop.jpg) no-repeat center;
  background-size: cover;
}

.img-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--soft-violet-accent);
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .container {
    grid-template-columns: 1fr;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  .img-header {
    order: -1;
    height: 70vh;
  }
}
